header {
    background-color: rgb(23, 124, 224);
    padding: 0.75rem 0.1rem;
    gap: 1rem;
    align-items: center;
}

button.dialog {
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    color: rgb(56, 125, 228);
    font-size: 50px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

@media (max-width: 1600px) {
    nav ul {
        font-size: 28px;
    }
}