header {
    width: 100%;
    background-color: rgb(23, 124, 224);
    overflow-x: hidden;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}


.btn dialog {
    color: rgb(56, 125, 228);
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding-right: 5%;
    cursor: pointer;
}

nav ul {
    font-size: 30px;
    color: white;
    display: flex;
    font-weight: bolder;
    flex: 0 0 auto;
}

@media (orientation: portrait),
(max-width: 1446px) {
    header {
        nav {
            height: clamp(44px, 6.2vh, 95.56px);
        }
    }

    nav ul {
        font-size: clamp(20px, 1.56vw, 30px);
    }

}

@media (max-width: 710px) {

    nav ul {
        font-size: clamp(15px, 1.56vw, 20px);
    }
}

@media(max-width: 600px) {
    nav ul {
        font-size: clamp(12px, 1.56vw, 15px);
    }
}