mat-card {
    height: 80vh;
    width: auto;
    padding: 100px;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
    margin: 30px;
    font-size: larger;

    form {
        margin-top: 30px;

        mat-error {
            margin-left: 20px;
        }

        mat-label {
            font-size: 20pt;
            margin: 20px;
        }

        div {
            margin-top: 10px;

            mat-form-field {
                margin-left: 20px;
            }
        }

        button {
            margin-bottom: 30px;
            margin-left: 20px;
        }
    }

    mat-card-actions {
        margin-top: 40px;

        button {
            width: 150px;
            height: 75px;
            font-size: large;
        }
    }
}