mat-nav-list {
    margin-top: 20px;
    width: 23.5vw;
    flex: 1;

    p {
        font-size: larger;
    }

    mat-list-item {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
}

.actions {
    display: flex;
    margin-left: auto;
    gap: 8px;
    justify-content: right;
}


.item-name {
    flex: 1;
    font-size: 16pt;
}

.recipe-row {
    display: flex;
    align-items: center;
    width: 100%;
}

@media(orientation: portrait), (max-width: 1446px) {
    mat-nav-list {
        margin-top: 10px;
        width: 48vw;

        mat-list-item {
            width: calc(100% - 5px);
        }
    }
}

@media (max-width: 1000px) {
    mat-nav-list {
        margin-top: 10px;
        width: 48vw;

        mat-list-item {
            width: calc(100% - 5px);
        }
    }
}

@media(max-width:1000px) and (max-height:1000px) {
    mat-nav-list {
        margin-top: 10px;
        width: 48vw;

        mat-list-item {
            width: calc(100% - 5px);
        }
    }
}

@media (max-height: 768px) and (max-width: 481px) {
    mat-nav-list {
        margin-top: 10px;
        width: 80vw;

        mat-list-item {
            width: calc(100% - 5px);
        }
    }
}