<ng-content />
<mat-nav-list>
  @if (isLoading()) {
    <p>Loading recipes...</p>
  } @else {
    @if (recipeList()?.length === 0) {
      <p>Currently no recipes available</p>
    } @else {
      @for (recipe of recipeList(); track recipe._id) {
        <mat-list-item
          role="listitem"
          [routerLink]="['recipes', recipe!._id]"
          (click)="onSelectRecipe(recipe!)"
        >
          <div class="recipe-row">
            <span class="item-name">{{ recipe.name }}</span>
            <span class="actions">
              <button
                matIconButton
                type="button"
                aria-label="Delete"
                (click)="onDeleteRecipe(recipe)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                matIconButton
                aria-label="Edit"
                type="button"
                (click)="onEditRecipe(recipe)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </span>
          </div>
        </mat-list-item>
      }
    }
    @if (isError() !== null) {
      <p>Error loading the recipes</p>
    }
  }
</mat-nav-list>
