mat-card {
    height: auto;
    width: 72vw;
    padding: 100px;
    display: flex;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin: 30px;
    text-wrap: wrap;
    overflow-wrap: anywhere;

    mat-card-header {
        padding-top: 2vw;
        padding-bottom: 2vw;

        mat-card-title {
            font-size: 40px;
        }
    }

    mat-card-content {
        table {
            margin-top: 2vh;
            margin-bottom: 4vh;
        }

        overflow-wrap: anywhere;

        p {
            margin-top: 3vh;
            margin-bottom: 3vh;
        }

        li {
            margin-left: 50px;
            padding-bottom: 5px;
        }
    }

    mat-card-actions {
        margin-top: 15vh;
        overflow-wrap: anywhere;
    }
}

@media (orientation: portrait) {
    mat-card {
        align-self: center;
        width: 92vw;

        mat-card-header {
            padding-top: 2vw;
            padding-bottom: 2vw;

            mat-card-title {
                font-size: 30px;
            }
        }
    }
}