mat-sidenav-container {
    display: flex;
    height: 100vh;

    mat-sidenav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        width: 25vw;
        border-right: 3px solid rgb(192, 189, 189);

        button {
            width: 30%;
            margin: 1rem 170px;
        }
    }

    mat-sidenav-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.search-bar {
    display: flex;
    width: 50vw;
    font-size: 0.6cm;
    height: 70px;
    background-color: rgb(219, 246, 255);
    border-radius: 3rem;
    border-color: grey;
    padding-left: 15px;
    margin: 0 auto 0 auto;
    transition: all 0.2s ease;

    &::placeholder {
        font-size: clamp(0.4cm, 1.4vw, 0.6cm);
    }
}

@media (orientation: portrait),
(max-width: 1446px) {
    mat-sidenav-container {

        mat-sidenav {
            width: 50vw;

            button {
                width: 30%;
                // margin: 0.5rem 90px;
            }
        }
    }

    .search-bar {
        height: clamp(38px, 5.352vh, 74.2px);
    }
}

@media (max-width: 1000px) {
    mat-sidenav-container {

        mat-sidenav {
            width: 50vw;

            button {
                width: 30%;
                margin: 0.5rem 90px;
            }
        }
    }

    .search-bar {
        height: clamp(38px, 5.352vh, 50px);
    }
}

@media (max-width: 710px) {
    // mat-sidenav-container {

    //     mat-sidenav {
    //         width: 85vw;

    //         button {
    //             width: 80px;
    //             margin: 0.5rem 90px;
    //         }
    //     }
    // }

    .search-bar {
        height: 38px;
    }
}

@media (max-height: 768px) and (max-width: 481px) {
    mat-sidenav-container {

        mat-sidenav {
            width: 85vw;
        }
    }
}