mat-sidenav-container {
    display: flex;
    height: 100vh;

    mat-sidenav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        width: fit-content;
        border-right: 3px solid rgb(192, 189, 189);

        button {
            width: 30%;
            margin: 1rem 180px;
        }
    }

    mat-sidenav-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.search-bar {
    display: flex;
    width: 50vw;
    font-size: 0.6cm;
    height: 70px;
    background-color: rgb(219, 246, 255);
    border-radius: 3rem;
    border-color: grey;
    padding-left: 15px;
    margin: 0 auto 0 auto;

    &::placeholder {
        font-size: clamp(0.4cm, 1.4vw, 0.6cm);
    }
}

@media (orientation: portrait) {}